/* --------------------------------------------------------------
 File encoded as UTF-8 
   grid.css
   * Sets up an easy-to-use grid of 10 columns.

   The grid is 790px wide, with 10 columns
   spanning 70px, and a 10px margin between columns.

-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
  width: 790px;
  margin: 0 auto;
}

/* Use this class on any .span / container to see the grid. */
.showgrid {
  background: url(src/grid.png);
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10 {
  float: left;
  margin-right: 10px;
}

/* The last column in a row needs this class. */
.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1 {width: 70px;}
.span-2 {width: 150px;}
.span-3 {width: 230px;}
.span-4 {width: 310px;}
.span-5 {width: 390px;}
.span-6 {width: 470px;}
.span-7 {width: 550px;}
.span-8 {width: 630px;}
.span-9 {width: 710px;}
.span-10 {width:790px; margin-right:0;}

/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10 {
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

input.span-1, textarea.span-1 { width: 58px; }
input.span-2, textarea.span-2 { width: 138px; }
input.span-3, textarea.span-3 { width: 218px; }
input.span-4, textarea.span-4 { width: 298px; }
input.span-5, textarea.span-5 { width: 378px; }
input.span-6, textarea.span-6 { width: 458px; }
input.span-7, textarea.span-7 { width: 538px; }
input.span-8, textarea.span-8 { width: 618px; }
input.span-9, textarea.span-9 { width: 698px; }
input.span-10, textarea.span-10 { width: 778px; }

/* Add these to a column to append empty cols. */

.append-1 { padding-right: 80px;}
.append-2 { padding-right: 160px;}
.append-3 { padding-right: 240px;}
.append-4 { padding-right: 320px;}
.append-5 { padding-right: 400px;}
.append-6 { padding-right: 480px;}
.append-7 { padding-right: 560px;}
.append-8 { padding-right: 640px;}
.append-9 { padding-right: 720px;}

/* Add these to a column to prepend empty cols. */

.prepend-1 { padding-left: 80px;}
.prepend-2 { padding-left: 160px;}
.prepend-3 { padding-left: 240px;}
.prepend-4 { padding-left: 320px;}
.prepend-5 { padding-left: 400px;}
.prepend-6 { padding-left: 480px;}
.prepend-7 { padding-left: 560px;}
.prepend-8 { padding-left: 640px;}
.prepend-9 { padding-left: 720px;}


/* Border on right hand side of a column. */
.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #ddd;
}

/* Border with more whitespace, spans one column. */
.colborder {
  padding-right: 44px;
  margin-right: 45px;
  border-right: 1px solid #ddd;
}


/* Use these classes on an element to push it into the
next column, or to pull it into the previous column.  */


.pull-1 { margin-left: -80px; }
.pull-2 { margin-left: -160px; }
.pull-3 { margin-left: -240px; }
.pull-4 { margin-left: -320px; }
.pull-5 { margin-left: -400px; }
.pull-6 { margin-left: -480px; }
.pull-7 { margin-left: -560px; }
.pull-8 { margin-left: -640px; }
.pull-9 { margin-left: -720px; }
.pull-10 { margin-left: -800px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10 {float: left; position:relative;}


.push-1 { margin: 0 -80px 1.5em 80px; }
.push-2 { margin: 0 -160px 1.5em 160px; }
.push-3 { margin: 0 -240px 1.5em 240px; }
.push-4 { margin: 0 -320px 1.5em 320px; }
.push-5 { margin: 0 -400px 1.5em 400px; }
.push-6 { margin: 0 -480px 1.5em 480px; }
.push-7 { margin: 0 -560px 1.5em 560px; }
.push-8 { margin: 0 -640px 1.5em 640px; }
.push-9 { margin: 0 -720px 1.5em 720px; }
.push-10 { margin: 0 -800px 1.5em 800px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10 {float: left; position:relative;}


/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
div.prepend-top, .prepend-top {
  margin-top:1.5em;
}
div.append-bottom, .append-bottom {
  margin-bottom:1.5em;
}

/* Use a .box to create a padded box inside a column.  */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5eCf9;
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 17px;
  border: none;
}

hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }
